<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".GlobalVariables.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stockifi"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".Repas.ViewRepas"
            android:exported="true" />
        <activity
            android:name=".Gestion_Produit.InformationsProduitStock"
            android:exported="false" />
        <activity
            android:name=".Gestion_Produit.ModifierProduitStock"
            android:exported="true" />
        <activity
            android:name=".Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Home.AjouterCategorie"
            android:exported="true" />
        <activity
            android:name=".Gestion_Produit.ListeProduit"
            android:exported="true" />
        <activity
            android:name=".Gestion_Produit.AjouterProduit_ListeProduit"
            android:exported="false" />
        <activity
            android:name=".Repas.ajouter_repas"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Repas.ingredients_quantity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Repas.ingredients"
            android:exported="true" />
        <activity
            android:name=".Liste_Course.ModifierProduit"
            android:exported="true" />
        <activity
            android:name=".Liste_Course.AjouterProduit"
            android:exported="true" />
        <activity
            android:name=".Liste_Course.ListeDeCourse"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Sprint2Activity"
            android:exported="false" />
        <activity
            android:name=".ProduitCardActivity"
            android:exported="false" />
        <activity
            android:name=".Produit.AjouterProduitRecherche"
            android:exported="false" />
        <activity
            android:name=".ConditionUtilisationActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ChangerPassword"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".recettes.RecettesRecommendeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".recettes.RecettesRecommendeFiltreActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".recettes.RecetteActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".corbeille.corbeille"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>